---
interface Props {
  title: string;
  unitTypeList: string[];
}

const { title, unitTypeList }: Props = Astro.props;
---

<section>
  <div class="container">
    <h2 id="title">{title} Converter</h2>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="input">From</label>
          <div>
            <input type="text" id="input" class="form-control" />
            <select id="selectFrom">
              {
                unitTypeList.map((unitType) => (
                  <option value={unitType}>{unitType}</option>
                ))
              }
            </select>
          </div>
          <div class="form-group">
            <label for="output">To</label>
            <div>
              <input type="text" id="output" readonly class="form-control" />
              <select id="selectTo">
                {
                  unitTypeList.map((unitType) => (
                    <option value={unitType}>{unitType}</option>
                  ))
                }
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card {
      width: 400px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-body {
      display: flex;
      flex-direction: column;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-control {
      width: -webkit-fill-available;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  </style>
</section>
